.about-me {
  background-color: black;
  margin: auto;
  width: 75%;
  display: flex;
  border-radius: 0 0 50% 50%;
}

.image-me {
  display: flex;
  justify-content: normal;
}

.image-me img {
  object-fit: cover;
  width: 17rem;
  height: 35rem;
  margin: 1rem 0 0 1rem;
}

.text-me {
  color: var(--white);
  /* text-align: center; */
  margin-left: 1rem;
}

.text-me p {
  font-size: 1.5rem;
}

@media (max-width: 1200px) {
  .about-me {
    background-color: black;
    align-content: center;
    display: grid;
    width: 75%;
    border-radius: 0;
    height: 900px;
  }

  .image-me {
    display: flex;
    justify-content: center;
    padding: 10px;
  }

  .image-me img {
    border-radius: 50%;
    object-fit: cover;
    width: 20rem;
    height: 20rem;
  }

  .text-me {
    text-align: center;
  }
}