.about-me {
    padding: 2rem;
    width: 65%;
    display: flex;
    margin: auto;
    margin-top: 10px;
    place-content: space-evenly;
    background: rgb(0, 0, 0);
    background: linear-gradient(149deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 35%, rgba(255, 255, 255, 1) 100%);
}

.about-me-row {
    place-content: center;
}

.aboutMe-img {
    display: flex;
}


.aboutMe-img img {
    object-fit: cover;
    width: 20rem;
    height: 15rem;
    /* margin: 1rem 0 0 1rem; */
    display: flex;
}

/* .aboutMe-img2 img {
    object-fit: cover;
    width: 20rem;
    height: 15rem;
    margin: 1rem 0 0 1rem;
    text-align: center;
    display: flex;
} */

.aboutMe-text {
    text-align: left;
    align-self: center;
}

.aboutMe-text h1 {
    color: var(--white);
}

.aboutMe-text p {
    color: var(--white);
}

.aboutMe-text2 h1 {
    color: var(--white);
}

.aboutMe-text2 p {
    color: var(--white);
}