.about-me {
    padding: 2rem;
    width: 65%;
    display: flex;
    margin: auto;
    margin-top: 10px;
    place-content: space-evenly;
}

.about-me-row {
    place-content: center;
}

.aboutMe-img {
    display: flex;
}


.aboutMe-img img {
    object-fit: cover;
    width: 20rem;
    height: 15rem;
    display: flex;
}

.aboutMe-text {
    text-align: left;
    align-self: center;
}

.aboutMe-text h1 {
    color: var(--black);
    font-weight: bold;
}

.aboutMe-text p {
    color: var(--black);
}

.aboutMe-text2 h1 {
    color: var(--black);
    font-weight: bold;
}

.aboutMe-text2 p {
    color: var(--black);
}

@media (max-width: 1200px) {
    .aboutMe-text h1 {
        font-size: 3rem;
        font-weight: bold;
    }

    .aboutMe-text p {
        font-size: 1.5rem;
    }

    .aboutMe-text2 h1 {
        font-size: 3rem;
        font-weight: bold;
    }

    .aboutMe-text2 p {
        font-size: 1.5rem;
    }

    .aboutMe-CV {
        margin-bottom: 16px;
    }

    .aboutMe-img {
        display: flex;
        place-content: center;
        margin: 16px;
    }
}