.Exp {
    padding: 2rem;
    width: 65%;
    /* display: flex; */
    margin: auto;
}

.WorkExp h1 {
    font-size: 3rem;
    display: flex;
    padding-bottom: 2rem;
    font-weight: bold;
}

.ant-table-thead th {
    font-size: 2rem;
}

.ant-table-tbody td {
    font-size: 1.2rem;
}

.ant-table-tbody td span {
    font-size: 1.2rem;
}

@media (max-width: 1200px) {
    .Exp {
        padding: 2rem;
        width: 100%;
        display: flex;
    }

    .ant-table-thead th {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .ant-table-tbody td {
        font-size: 1.5rem;
    }

    .ant-table-tbody td span {
        font-size: 1.5rem;
    }
}