.container__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    /* margin-top: 100px; */
    background-color: rgb(0, 0, 0);
}

.box__footer {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box__footer h2 {
    margin-top: 10px;
    color: white;
    font-weight: bold;
    font-size: 2rem;
}

.box__footer a {
    margin-top: 10px;
    color: white;
    font-size: 1rem;
    list-style: none;
    text-decoration: none;
}

.Link {
    margin-top: 10px;
    color: white;
    font-size: 1rem;
    list-style: none;
    text-decoration: none;
    cursor: pointer;
}

.Link:hover {
    margin-top: 10px;
    color: orange;
    font-size: 1rem;
    list-style: none;
    text-decoration: none;
    cursor: pointer;
}

.box__footer a:hover {
    opacity: 0.8;
    color: orange;
}

.box__footer a .fab {
    font-size: 20px;
}