.main-container {
    padding: 2rem;
    margin: auto;
    width: 75%;
    background-color: rgb(0, 0, 0);
}

.main-container h1 {
    font-size: 2rem;
    display: flex;
    padding-bottom: 3rem;
    color: var(--white);
    font-weight: bold;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 6rem;
    place-content: center;
}

.card {
    width: 300px;
    height: 300px;
    cursor: pointer;
}

.content {
    text-align: center;
    position: relative;
    transition: all 2.25s;
    padding: 5em;
    transform-style: preserve-3d;
    height: 100%;
}

.card:hover .content {
    transform: rotateY(0.5turn);
}

.ecommerce {
    background-image: url('../img/Ecommerce.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.todo {
    background-image: url('../img/To-do.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.JS {
    background-image: url('../img/JS.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.game {
    background-image: url('../img/game.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.api {
    background-image: url('../img/api.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.front,
.back {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 2em;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.title {
    transform: translateZ(5rem);
    font-size: 2rem;
}

.subtitle {
    transform: translateZ(2rem);
}

.back {
    transform: rotateY(0.5turn);
    background-color: rgb(0, 0, 0);
}

.back h3 {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.back p {
    color: white;
    font-size: 1rem;
}

.description {
    transform: translateZ(3rem);
}

.icons {
    display: flex;
    justify-content: space-around;
}


@media (max-width: 640px) {
    .main-container {
        padding: 2rem;
        margin: auto;
        width: 90%;
    }

    .cards-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 22px;
        justify-items: center;
    }

    .product-card {
        width: 140px;
    }

    .card {
        width: 500px;
        height: 500px;
        cursor: pointer;
    }

    .product-card img {
        width: 140px;
        height: 140px;
    }

    .back h3 {
        color: white;
        font-size: 2rem;
        font-weight: bold;
    }

    .back p {
        color: white;
        font-size: 1.5rem;
    }
}